<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="largecap-tab" data-toggle="tab" href="#largecap" role="tab" aria-controls="largecap" aria-selected="true">Large Cap</a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="largecap" role="tabpanel" aria-labelledby="largecap-tab">
      <br/>
      <h5>Large Cap Stocks </h5>
      
      <br/>
            
              <table class="table table-bordered table-hover"   data-toggle="table" data-pagination="true"  data-filter-control="true">
                <thead class="thead-dark">
                  <tr>
                    <th data-sortable="true" data-field="symbol" data-filter-control="select">Symbol</th>
                    <th data-sortable="true" data-field="stock_description" data-filter-control="select">Company</th>
                  
                    <th data-sortable="true" data-field="industry" data-filter-control="select">Industry</th>

                    <th data-sortable="true" data-field="current_price" >Current Price</th>

                    <th data-sortable="true" data-field="target_price" >Target Price</th>

                    <th data-sortable="true" data-field="gap_to_target" >Gap to Target %</th>

                    <th data-sortable="true" data-field="buyrating" >Buy %</th>

                    
                  </tr>
                </thead>

                <tbody>
                 

                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      
                      

                    </tr>

                </tbody>
              </table>
    </div>


    
  </div>
</div>