<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="jumbotron">

			<h2>Editing Stock</h2>

			<%= render 'form', stock: @stock, type: "edit" %>

			<%= link_to 'Show', @stock %> |
			<%= link_to 'Back', stocks_path %>


		</div>
    </div>
  </div>
</div>

