
<table hidden id="table_bs" class="table table-bordered table-hover"   data-toggle="table" data-pagination="true"   data-filter-control="true" data-sort-name="rr_ratio" data-sort-order="desc">
  <thead class="thead-dark">
    <tr>
    	<th data-field="roi_viz" data-formatter="visualizeROI" data-title-tooltip="Click on the eye icon to visualize Profit/Loss over time">P/L Viz</th>
		<th data-sortable="true" data-field="expiry_date" data-filter-control="select">Expiry</th>
		<th data-field="buy_strike" data-title-tooltip="Strike price of 1st leg">Buy Strike</th>
		<th data-field="sell_strike" data-title-tooltip="Strike price of 2nd leg">Sell Strike</th>
		<th data-field="entry_cost" data-title-tooltip="Cost (Credit or Debit) of entering position" >Cost</th>
		<th data-sortable="true" data-field="risk">Risk</th>
		<th data-sortable="true" data-field="reward">Reward</th>
		<th data-sortable="true" data-field="perc_change" data-title-tooltip="Change in underlying stock price required to achieve indicated reward">% Jump</th>
		<th data-sortable="true" data-field="rr_ratio" data-sort-order="desc" data-title-tooltip="Reward to Risk Ratio">R/R</th>
							      
      
    </tr>
  </thead>

</table>