
<table hidden id="table_bs" class="table table-bordered table-hover"   data-toggle="table" data-pagination="true"   data-filter-control="true" data-sort-name="rr_ratio" data-sort-order="desc">
  <thead class="thead-dark">
    <tr>
    	<th data-field="roi_viz" data-formatter="visualizeROI">ROI</th>
		<th data-sortable="true" data-field="expiry_date" data-filter-control="select">Expiry</th>
		<th data-field="buy_strike">Buy Strike</th>
		<th data-field="sell_strike">Sell Strike</th>
		<th data-field="entry_cost">Entry Cost</th>
		<th data-sortable="true" data-field="risk">Risk</th>
		<th data-sortable="true" data-field="reward">Reward</th>
		<th data-sortable="true" data-field="perc_change">Upside % Reqd</th>
		<th data-sortable="true" data-field="rr_ratio" data-sort-order="desc">R/R</th>
							      
      
    </tr>
  </thead>

</table>