function normalize_num(val, max, min) { return (val - min) / (max - min); }

var $table = $('#table_bs')
var data = <%= raw json_escape(@spreads.to_json) %>;
var strategy =  '<%= escape_javascript( @strategy ) %>'
var expirydates_data =  <%= raw json_escape(@expirydates_data.to_json) %>;

//House Keeping
$(".strategy-btn").removeClass("btn-primary").addClass( "btn-outline-primary" );
$("." + strategy).removeClass( "btn-outline-primary" ).addClass( "btn-primary" );
$("#scenario_analysis_label").removeAttr('hidden')
$(".myBubbleChartHolder").empty();
$(".contract-card").attr("hidden", true);
$(".contract-info-expdate").html("");
$table.bootstrapTable('updateColumnTitle', {
        field: 'buy_strike',
        title: 'Buy Strike'
      })
$table.bootstrapTable('updateColumnTitle', {
        field: 'sell_strike',
        title: 'Sell Strike'
      })

switch(strategy) {
  
  case "call-debit":
    $("#strategy_description_text").html("The Bull Call Spread is an options strategy involving the purchase of a Call with a lower strike and the selling of a Call with a higher strike.")
    $(".contract-info-header").html("Bull Call Spread")
    break;
  
  case "call-credit":
    $("#strategy_description_text").html("The Bear Call Spread is an options strategy involving the purchase of a Call with a higher strike and the selling of a Call with a lower strike.")
    $(".contract-info-header").html("Bear Call Spread")
    $table.bootstrapTable('updateColumnTitle', {
        field: 'entry_cost',
        title: 'Cost (Cr.)'
      })
    break;
  
  case "put-debit":
    $("#strategy_description_text").html("The Bear Put Spread is an options strategy that involves the purchase of a Put Option with a higher strike and the selling of another Put Option with a lower strike.")
    $(".contract-info-header").html("Bear Put Spread")
    $(".l1_strike_label").html("Buy Put Strike");
    $(".l2_strike_label").html("Sell Put Strike");
    break;
  
  case "put-credit":
    $("#strategy_description_text").html("The Bull Put Spread is an options strategy that involves the purchase of a Put Option with a lower strike and the selling of another Put Option with a higher strike.")
    $(".contract-info-header").html("Bull Put Spread")
    $(".l1_strike_label").html("Buy Put Strike");
    $(".l2_strike_label").html("Sell Put Strike");
    $table.bootstrapTable('updateColumnTitle', {
        field: 'entry_cost',
        title: 'Cost (Cr.)'
      })
    break;

  case "long-straddle":
    $("#strategy_description_text").html("The Long Straddle is an options strategy involving the purchase of a Call and a Put option with the same strike.")
    $(".contract-info-header").html("Long Straddle Spread")
    $table.bootstrapTable('updateColumnTitle', {
        field: 'buy_strike',
        title: 'Buy Call Str.'
      })
    $table.bootstrapTable('updateColumnTitle', {
        field: 'sell_strike',
        title: 'Buy Put Str.'
      })
    break;
  default:
    // code block
} 




$table.bootstrapTable('load', data)
$table.removeAttr('hidden')
$("#ScenarioTabs").removeAttr('hidden')


function visualizeROI(value, row, index) {
    var post_string = "dividend=0.0&e_date=" + row.expiry_date + "&entry_cost=" + row.entry_cost + "&long_iv=" + row.buy_contract_iv + "&long_strike=" + row.buy_strike + "&quote=" + row.quote + "&short_iv=" + row.sell_contract_iv + "&short_strike=" + row.sell_strike  + "&strategy=" + strategy +  "&symbol=" + row.underlying;

    return [
    "<a class='roi_launch' data-remote='true' rel='nofollow' data-method='post' href='/roi_visualizer?" + post_string + "'>",
      "<i class='fa fa-eye'></i>",
      "</a>  ",
    ].join("")
  }

//add function Bookmark




//Add Chart Canvas
var canvas_html = '<canvas id="myChart" style="min-height:250px; max-height: 450px;"  class="table"></canvas>'
$(".myBubbleChartHolder").append(canvas_html)

//Add Dataset

var COLORS = [
    '#00b4d8',
    '#0077b6',
    '#075f5f',
    '#a2d729',
    '#ee6c4d',
    '#3943b7',
    '#7b7554',
    '#69ddff',
    '#521945',
    '#824a5e',
    '#824a5e',
    '#94616c',
    '#fa824c',
    '#f67019',
    '#f53794'
  ];

var bubbleChartData = {
      animation: {
        duration: 50000
      },
      datasets: []
    };

function addDatasetToChart(exp_date, metrics, dataset_count)
{

  var dataset_hidden = false;
  if (dataset_count>5)
    {
      dataset_hidden=true
    }
  var newDataset = {
        label: String(exp_date),
        backgroundColor: COLORS[Math.min(dataset_count,COLORS.length-1)],
        borderColor: COLORS[Math.min(dataset_count,COLORS.length-1)],
        borderWidth: 1,
        data: [],
        hidden: dataset_hidden
      };

  var max_reward = Math.max.apply(Math, metrics.map(function(o) { return o.reward; }));
  var min_reward = Math.min.apply(Math, metrics.map(function(o) { return o.reward; }));

  for (var index = 0; index < metrics.length; index++) {

      if(metrics[index].reward>0 && metrics[index].rr_ratio>0.5)
      {
        newDataset.data.push({
          x: metrics[index].perc_change,
          y: metrics[index].rr_ratio,
          r: 15 * normalize_num(Math.abs(metrics[index].reward),max_reward,min_reward),
          l1strike: metrics[index].buy_strike,
          l2strike: metrics[index].sell_strike,
          risk: metrics[index].risk,
          reward: metrics[index].reward,
          l1_iv: metrics[index].buy_contract_iv,
          l2_iv: metrics[index].sell_contract_iv,
          expiry_date: String(exp_date),
          entry_cost: metrics[index].entry_cost,
          quote: metrics[index].quote,
          underlying: metrics[index].underlying
        });
      }
    }

  return newDataset;
}


for(i=0;i<expirydates_data.length;i++)
{
  var filtered_data_expiry_date = data.filter(d => d.expiry_date == expirydates_data[i]);
  
  if(filtered_data_expiry_date.length>0)
  {
  bubbleChartData.datasets.push(addDatasetToChart(expirydates_data[i], filtered_data_expiry_date, i))
  }
}



var chart_canvas = document.getElementById('myChart')
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bubble',

    // The data for our dataset
    data: bubbleChartData,

    // Configuration options go here
    options: {
          responsive: true,
          maintainAspectRatio: false,
          title: {
            display: true,
            text: ['X Axis: % Change in Price  |   Y Axis: Reward/Risk Ratio' , 'Size: Profit '],
            fontColor: 'black',
            fontSize: 12,
            fontStyle: 'normal',
            position: 'top'

          },
          tooltips: {
            mode: 'point'
          },
          scales: {
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Reward to Risk (R/R) Ratio',
                fontColor: 'black'
              },
              gridLines:{
                lineWidth: .5
              }
            }],
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: '% change in underlying price',
                fontColor: 'black'
              },
              gridLines:{
                lineWidth: .5
              }
            }]
          },
          legend: {
            display: true,
            labels: {
                // This more specific font property overrides the global property
                
                fontColor: 'black',
                boxWidth: 20
            }
          } 
        }
});


chart_canvas.onclick = function(evt) {
   var activePoint = chart.getElementAtEvent(evt)[0];
   if (activePoint){
     var data = activePoint._chart.data;
     var datasetIndex = activePoint._datasetIndex;
     var label = data.datasets[datasetIndex].label;
     var value = data.datasets[datasetIndex].data[activePoint._index];
     
     $(".contract-card").removeAttr("hidden");
     $(".leg-1-strike").val(value.l1strike);
     $(".leg-2-strike").val(value.l2strike);
     $(".risk-input").val(value.risk);
     $(".reward-input").val(value.reward);
     $(".rr-input").val(value.y);
     var post_string = "dividend=0.0&e_date=" + value.expiry_date + "&entry_cost=" + value.entry_cost + "&long_iv=" + value.l1_iv + "&long_strike=" + value.l1strike + "&quote=" + value.quote + "&short_iv=" + value.l2_iv + "&short_strike=" + value.l2strike  + "&strategy=" + strategy +  "&symbol=" + value.underlying;
     $(".p_l_viz_btn").attr("href", '/roi_visualizer?' + post_string )
     $(".contract-info-expdate").html(" expiring on " + value.expiry_date)
     $(".contract-info-expdate").css('color', activePoint._model.backgroundColor);
     
    }
};



