

<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<div class="jumbotron">
				<div class="container">
					<h1><strong>Discover Winning Options Strategies</strong></h1>
					<p>Find low risk high reward spreads like a pro 🎉🎉🎉</p>
					<div class="form-group">
						<%= form_tag root_path, :method => 'POST', id: "search-form" do %>
							<div class="input-group mb-3" id= "search-data" class="form-search search-data">
								
									<%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50,  class: "form-control search-input" %>


								
								<div class="input-group-append">
									<%= button_tag 'Lookup', class: "btn btn-outline-success", data: {disable_with: raw("<i class='fa fa-spinner fa-spin'></i> Computing Spreads..")} %>
								</div>
							</div>


						<% end %>

												
					</div>
					
					

					<br/>

					<% if @error %>
						<%= @error %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

</div>

<script type='text/javascript'>


	//window.onload = function () {
	document.addEventListener("turbolinks:load", function() {
		   var demo = new autoComplete({
		    selector: 'input[name="ticker"]',
		    minChars: 2,
		    source: function(term, response){
		        $.getJSON('https://financialmodelingprep.com/api/v3/search?&limit=15&apikey=69b8bf512c3f3962412228ee02211987', { query: term }, function(data)
		        	{ 
		        		
	        		
		        		
		        		var res = []; 
              			
              			
			            for(var i = 0; i < data.length; i++)
			            { 
			            	var _res = [];
			                if(data[i].currency == "USD")
			                {
			                	_res.push(data[i].symbol);
			                	_res.push(data[i].name);
			                	res.push(_res); 
			                }
			            }
			            console.log(res);
			            response(res); 
              

		        	});
		    },
		    renderItem: function (item, search){
			        search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
			        
			        return '<div class="autocomplete-suggestion" data-ticker="'+item[0]+'" data-company="'+item[1]+'" data-val="'+item[0]+'"><strong>'+item[0]+'</strong> ' + item[1] + '</div>';
			    }
		});


   
	});
   
 </script>

