// proflace all the styles related to the stocks controller here.
// They will automatically be included in aprofproflication.css.
// You can use Sass (SCSS) here: httprofs://sass-lang.com/

.undertargetprofrice{
  color: green;
}

.normalprofrice{
  color: black;
}




.maxRisk{background-color: #800; color:#f66}
.prof-100{  background-color: #f00; }
.prof-95{  background-color: rgb(255,12,12); }
.prof-90{  background-color: rgb(255,24,24); }
.prof-85{  background-color: rgb(255,36,36); }
.prof-80{  background-color: rgb(255,48,48); }
.prof-75{  background-color: rgb(255,61,61); }
.prof-70{  background-color: rgb(255,73,73); }
.prof-65{  background-color: rgb(255,85,85); }
.prof-60{  background-color: rgb(255,97,97); }
.prof-55{  background-color: rgb(255,109,109); }
.prof-50{  background-color: rgb(255, 122,122); }
.prof-45{  background-color: rgb(255, 134,134); }
.prof-40{  background-color: rgb(255, 146,146); }
.prof-35{  background-color: rgb(255, 158,158); }
.prof-30{  background-color: rgb(255, 170,170); }
.prof-25{  background-color: rgb(255, 182,182); }
.prof-20{  background-color: rgb(255, 194,194); }
.prof-15{  background-color: rgb(255, 207,207); }
.prof-10{  background-color: rgb(255, 218,218); }
.prof-5{  background-color: rgb(255, 231,231); }

.prof-0, .prof0{  background-color: #FFFFFF; }

.maxprofrofit{background-color: #080; color:#6f6}
.prof200{  background-color: rgb(0,225,0); }
.prof195{  background-color: rgb(0,235,0); }
.prof190{  background-color: rgb(0,245,0); }
.prof185{  background-color: rgb(0,255,0); }
.prof180{  background-color: rgb(7,255,0); }
.prof175{  background-color: rgb(14,255,0); }
.prof170{  background-color: rgb(21,255,0); }
.prof165{  background-color: rgb(28,255,0); }
.prof160{  background-color: rgb(35,255,0); }
.prof155{  background-color: rgb(42,255,0); }
.prof150{  background-color: rgb(49,255,0); }
.prof145{  background-color: rgb(56,255,0); }
.prof140{  background-color: rgb(63,255,0); }
.prof135{  background-color: rgb(70,255,0); }
.prof130{  background-color: rgb(77,255,0); }
.prof125{  background-color: rgb(84,255,0); }
.prof120{  background-color: rgb(95,255,0); }
.prof115{  background-color: rgb(101,255,0); }
.prof110{  background-color: rgb(107,255,0); }
.prof105{  background-color: rgb(114,255,0); }

.prof100{  background-color: rgb(117,255,0); }
.prof95{  background-color: rgb(120,255,12); }
.prof90{  background-color: rgb(126,255,24); }
.prof85{  background-color: rgb(132,255,36); }
.prof80{  background-color: rgb(138,255,48); }
.prof75{  background-color: rgb(144,255,61); }
.prof70{  background-color: rgb(150,255,73); }
.prof65{  background-color: rgb(156,255,85); }
.prof60{  background-color: rgb(162,255,97); }
.prof55{  background-color: rgb(168,255,109); }
.prof50{  background-color: rgb(174,255, 122); }
.prof45{  background-color: rgb(180,255, 134); }
.prof40{  background-color: rgb(186,255,146); }
.prof35{  background-color: rgb(192,255, 158); }
.prof30{  background-color: rgb(199,255, 170); }
.prof25{  background-color: rgb(205,255, 182); }
.prof20{  background-color: rgb(211,255,194); }
.prof15{  background-color: rgb(217,255,207); }
.prof10{  background-color: rgb(223,255,218); }
.prof5{  background-color: rgb(229,255, 231); }



.small_text{
	font-size: 0.85em;
}

.mid_text{
	font-size: 0.95em;
}

.large_text{
	font-size: 1.1em;
}

td.four_digit{
  font-size: 0.75em;
}

td.pct, th.pct {
    white-space: nowrap;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
}

table.roi tr.curPriceAbove td, table.roi tr.curPriceAbove th{
  border-top:1px solid #444;
}
table.roi tr.curPriceRow td, table.roi tr.curPriceRow th{
  border-top:1px solid #444;
  border-bottom:1px solid #444;
}
table.roi tr.curPriceRow th{
  background-color:#ddd;
}

.z1{
	  background-color:#e8e8e8;
	  text-align: center;
}
.z2{
	 background-color:#fff;
	 text-align: center;
}

table.roi th{
	text-align: center;
}

.roi_launch{
	font-size: 14px;
}

.create_bookmark{
	font-size: 14px;
}


.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}